<p> You received a friend request from: </p>
<br>
<div class="button-parent">
  <div>
    <%= gravatar_for user %>
    Name:
    <%= user.name %>
  </div> 
  <div>
    <%= button_to 'Accept Friend', friendship_path(friendship.id), method: :put %>
    <%= button_to 'Reject Friend', friendship_path(friendship.id), method: :delete %>
  </div>
</div>