<p> You have sent a friendship request to: </p>
<br>
<div class="button-parent">
  <div>
    <%= gravatar_for user%>
    Name:
    <%= user.name %>
  </div> 
  <p class="button-friendship status pending"> Pending Response </p>
</div>