<li>
  Name: <%= user.name %>
  <span class="profile-link">
  <%= link_to 'Invite to Friendship', new_friendship_path, class: 'button' %>
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
</li>